.embla {
  overflow: hidden;
  width: 100%;
  max-width:1440px;
}

.embla__container {
  display: flex;
  height: 100%;
  gap:20px;
}
.embla__slide {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  justify-content: center; 
  max-width: 300px;
}

.embla__slide:last-child {
  margin-right: 20px;
}

.buttonsContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
  margin-right: 10px;
}

.embla__next{
  border:none;
  background-color: transparent;
}

.embla__prev{
  border:none;
  background-color: transparent;
}

.dotsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  margin-right: 10px;
}

.dot{
  border: 1px solid black;
  background-color: transparent;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.dotActive{
  background-color: black;
}